<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\Ref" />
  </config>
  <packageSources>
        <!-- Add this repository to the list of available repositories -->
	    <add key="JfrogArtifactory" value="https://artifactory.pic.philips.com:8443/artifactory/api/nuget/dinxgenhost-virtual-nuget" /> 
  </packageSources>
</configuration>